.app{
  margin: 5px;
  padding: 5px;

}

h2{
  font-family: serif;
  text-align: center;
}

body{
  width: 500;
}

button{
  font-size: 16px;
  border-radius: 12px;
  background-color: darkblue;
  border-color: darkblue;
  color: white;
  cursor: pointer;
}

.tour{
  border: solid 3px black;
  padding: 10px;
  margin: 5px;
  width: 500px;
  background-color: rgba(200, 240, 254, 0.849);
  border-radius: 5%;
}
